<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script data-require="jquery@*" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12">
               <h1><span class="glyphicon glyphicon-headphones"></span> Hello World!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                Nav
            </div>
            <div class="col-xs-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolores modi sit sunt! Autem
                    blanditiis debitis, deleniti dolore ea earum est in inventore nesciunt quibusdam, reiciendis tempora
                    veniam vero voluptatum!</p>
                <p>Asperiores consequuntur cupiditate earum eos et labore minus officia officiis quisquam, repudiandae
                    similique voluptate. Accusamus blanditiis distinctio, dolorum ducimus enim facilis hic id labore
                    libero magni quidem quo vero, voluptatem?</p>
                <p>Ad adipisci amet commodi consectetur, cum eius est explicabo illum, minus perferendis quisquam quos,
                    reiciendis veritatis voluptatem voluptatum. Aperiam ea quod velit! Alias, dolores minima quam
                    temporibus veritatis voluptas voluptatibus.</p>
                <p>Ad amet assumenda culpa dolore doloremque facilis fugiat fugit impedit iste iure laborum maxime modi
                    odio omnis porro quas quibusdam quos, ratione sed suscipit totam velit voluptas voluptatem
                    voluptates voluptatibus.</p>
            </div>

        </div>
    </div>

</body>
</html>