<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ui_class/proj_08/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="">

    <link rel="stylesheet" type="text/css" href="/ui_class/proj_08/css/style.css">

</head>
<body>
    <h1>Person Object</h1>
    <div id="person">
        space for person object to load;
    </div>
    <!--input type="button" value="click" onclick="loadPerson()"-->
    <div>
        <button id="submit" onclick="loadPerson()">
           <h1 class="headh1"> load</h1>
        </button>
    </div>



    <script type='text/javascript' src='/ui_class/p/js/person.js'></script>

</body>
</html>